.w100{
    width: 190px;
    align-items: center;
}

.header .page-title-box {

    padding: 0px 20px ;
    
}

.header {
    background: linear-gradient(to right, #8460fc 0%, #052665 100%) !important;
}