.w100{
    width: 190px;
    align-items: center;
}

.header .page-title-box {

    padding: 0px 20px ;
    
}

.header {
    background: linear-gradient(to right, #8460fc 0%, #052665 100%) !important;
}

.bcolor{
    color: #052665 !important;
}

.text-right {
    text-align: right !important;
}

.finesec{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mt100{
    margin-top: 50%;
}


.fineibox,
.fineiboxronly{
    border: 1px solid #2e3840;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 5px;
    border-radius: 0px;
    height: 25px;
    text-align: center;
}
.fineiboxr,
.fineiboxronlyr{
    border: 1px solid red;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 5px;
    border-radius: 0px;
    height: 25px;
    text-align: center;
}



/* Margin */
.mt-2{
    margin-top: 2px;
}
.mt-4{
    margin-top: 4px;
}
.mt-6{
    margin-top: 6px;
}
.mt-8{
    margin-top: 8px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}



.mb-2{
    margin-bottom: 2px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-6{
    margin-bottom: 6px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-50{
    margin-bottom: 50px;
}


/* Padding */


.lhdanc:focus,
.lanccb:focus,
.lhdanc,
.lanccb {
    border: 2px solid red;
    margin-top: 0px !important;
}

.lhdac:focus,
.laccb:focus,
.lhdac,
.laccb {
    border: 2px solid orange;
    margin-top: 0px !important;
}
.cursor-pointer{
    cursor: pointer;
}