.salary-header{
    display: flex;
    gap: 30px;
    padding: 30px 30px 10px 30px;
}
.salary-logo{
    width:20%;
}
.company-title{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width: 55%;
}
.salary-title{
    font-size: 22px;
    text-align: center;

}
.employee-details{
    display: flex;
    margin: 10px 0px;
}
.normal-details ,.bank-details{ 
    padding: 10px;
    border: 1px solid black;
    width: 50%;
}
.salary-structure{
    display: flex;
}
.left-side,.right-side{
    width: 50%;
}
.left-heading,.right-heading,.earning-heading{
    display: flex;

    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}
.earning-heading{
    display: flex;

    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    border-top: none;
}
.deduction-heading{
    display: flex;

    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    border-top: none;
}
.total-earning ,.total-deduction{
    border: 1px solid black;
    border-top: none;
    display: flex;
padding: 10px;
    justify-content: space-between;
}
.net_pay{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}